<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="nav-bar"
            <head>
            
                <li><a href="/">Home  </a></li>
                <li><a href="/Transport">Transport</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Huisregels">Huisregels en FAQ </a> </li>
            
             </head>
    </nav>
    @RenderBody()

 <div class="footer"></div>
</body>
</html>
