<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="nav-bar"
        <head>
            <a href="/">Home  </a>
         <a href="/Transport">Transport</a>
         <a href="/Contact">Contact  </a>
         <a href="/Huisregels">Huisregels en FAQ  </a>             
        </head>
       </nav>
    @RenderBody()
</body>
</html>
