<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="footer">
        <h2>Contact:</h2>
        <p>Mail: 111131@st-maartenscollege.nl</p>
        <p>Telefoonmummer: dfsdfasdf</p>
    </div>


    <div class="festivals">

        <nav class="nav-bar"
            <header>

                <li><a href="/">Home  </a></li>
                <li><a href="/Transport">Transport</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Huisregels">Huisregels en FAQ </a> </li>

            </header>

        <div class="headerimage"></div>
        </nav>
        @RenderBody()

    </div>
    <div class="footer"></div>
</body>
</html>
