<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />
</head>

<body>
    <div class="festivals">

        <nav class="nav-bar"
            <header>

                <li><a href="/">Home  </a></li>
                <li><a href="/Transport">Transport</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Huisregels">Huisregels</a> </li>

            </header>

        <div class="headerimage"></div>
        </nav>
        @RenderBody()


        <footer class="footer-distributed">

            <div class="footer-left">

                <h3><span>Festivalterrein de GEKSTE</span></h3>

                <p class="footer-links">
                    <a href="/">Home  </a>
                    <a href="/Transport">Transport</a>
                    <a href="/Contact">Contact</a>
                    <a href="/Huisregels">Huisregels</a>
                </p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Vanillestraat 13</span> Flevoland, Nederland</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>06 123456</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p>contact@festivalterrein.com</p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>Over Ons</span>
                    Wij zijn festivalterrein DE GEKSTE, het leukste festivalterrein van heel Nederland. Volg ons op facebook, instragram en twitter.
                </p>

                <div class="footer-icons">

                    <a><img src="~/img/favicons/facebook.png" style="width:56px; height:56px;"/></a>
                    <a><img src="~/img/favicons/insta.png" style="width:56px; height:56px;" /></a>
                    <a><img src="~/img/favicons/twitter.png" style="width:56px; height:56px;" /></a>

                </div>

            </div>

    <div class="footerbottom">
        <p>Friso en Lieuwe &copy; 2020</p>
    </div>
</body>
</html>
