<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="nav-bar"
        <header>

            <li><a href="/">Home  </a></li>
            <li><a href="/Transport">Transport</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/Huisregels">Huisregels en FAQ </a> </li>
            
        </header>
    
       <div class="headerimage"></div>
    </nav>
    @RenderBody()

 <div class="footer"></div>
</body>
</html>
