<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="festivals">

        <nav class="nav-bar"
            <header>

                <li><a href="/">Home  </a></li>
                <li><a href="/Transport">Transport</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Huisregels">Huisregels en FAQ </a> </li>

            </header>

        <div class="headerimage"></div>
        </nav>
        @RenderBody()
    
 </body>

<div class="footer">
    <h2>Contact</h2>
    <p>Email: 111131@st-maartenscollege.nl of 10912821@st-maartenscollege.nl</p>
    <p>Telefoonnummer: Fakka met jou dan</p>
</div> 

</html>
