@model PersonModel 


@{ 
    ViewData["Title"] = "Contact"; 
}

<h1>Contact</h1>

<form method="post">
    <input type="text" name="voornaam" placeholder="Voornaam" /> <br/>
    <input type="text" name="achternaam" placeholder="Achternaam" /> <br />
    @Html.ValidationMessageFor(m => m.Achternaam) <br />
    <input type="datetime" name="geboortedatum" placeholder="Geboortedatum" /> <br/>
    <input type="text" name="emailadres" placeholder="Emailadres" /> <br/>
    @Html.ValidationMessageFor(m => m.Email) <br />
    <input type="submit" value="verstuur" />
</form>
   
<p>
    Je voornaam is: @ViewData["voornaam"] <br />
    Je achternaam is: @ViewData["achternaam"] <br />
</p>
