@using SchoolTemplate.Database;
@{
    ViewData["Title"] = "Home Page";

}

<br />
<table>
    <tr>
        <th>Naam</th>
        <th>Plaats</th>
        <th>Beschrijving</th>
        <th>Prijs</th>
    </tr>
    <tr>
        <td>@Model.Naam</td>
        <td>@Model.Plaats</td>
        <td>@Model.Beschrijving</td>
        <td>@Model.Prijs</td>
    </tr>
</table>