@using SchoolTemplate.Database;
@{
    ViewData["Title"] = "Home Page";

}
    <div class="tekstfestivals">

        <h2>@Model.Naam</h2>

        <img class="textrap" src="/@Model.ImgDatabase" />
        <p>@Model.Beschrijving</p>
        

        <h3>Locatie</h3>
        <a>@Model.Plaats</a>
        <h3>Prijs:</h3>
        <a>@Model.Prijs</a>



    </div>