<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Huisregels</title>
</head>
<body>

   <h1>Huisregels</h1>
    <img class="textrap" src="~/img/regelshoi.jpg" />
    <p>
        Het internationaal whisky festival “The Spirit of Amsterdam” moet zich houden aan de lokale overheidsverordeningen en regels voor de openbare orde, waaronder de nieuwe Drank en Horeca Wet. De organisatie van “The Spirit of Amsterdam” heeft zich daarom gecommitteerd aan de volgende huisregels zodat alle gasten, bezoekers, standhouders en medewerkers op een veilige en plezierige manier kunnen genieten van het festival.

        Door de aankoop van een ticket voor “The Spirit of Amsterdam” heeft u begrepen dat u zich volgens deze, op redelijkheid gebaseerde huisregels zult gedragen.

        Het whisky festival “The Spirit of Amsterdam” is een groot voorstander van verantwoord alcoholgebruik en adviseert bezoekers om te genieten van het festival en alles wat er geboden wordt maar met mate te drinken. Het festival is een proeverij en drinkgelag wordt niet getolereerd.

        De wettelijk toegestane leeftijd voor verstrekking van alcohol aan jongeren is 18 jaar.
        De organisatie en beveiligingsmedewerkers kunnen vragen om een identiteitsbewijs om de leeftijd te controleren van bezoekers waarvan het vermoeden bestaat dat zij jonger zijn dan de minimaal toegestane leeftijd van 18 jaar.

        Het festival heeft als doel het vergaren van kennis, plezier met elkaar hebben en bovenal genieten van de mooie whisky’s die geproefd kunnen worden. En dus geen buitensporig drankgebruik. De organisatie van “The Spirit of Amsterdam” zal hier duidelijk op letten.

        Bezoekers wordt sterk aangeraden om goed te eten voor en tijdens het festival. In de locatie wordt op diverse plekken gratis vers stokbrood aangeboden. Daarnaast biedt de organisatie passende catering aan.
        Naast eten, wordt bezoekers ook sterk aangeraden voldoende water te drinken tussen het proeven door en af en toe ook te pauzeren met het proeven tijdens het festival. In de locatie wordt meer dan voldoende gratis water aangeboden en zijn voorzieningen getroffen om de glazen te spoelen.

        In het belang van een goede festivalsfeer en vooral het welzijn van de bezoekers zullen standhouders geen alcohol schenken aan iemand waarvan mag worden aangenomen dat hij/zij teveel alcohol geconsumeerd heeft.

        Beveiligingsmedewerkers en Eerste Hulp medewerkers zijn tijdens alle sessies van het festival aanwezig om te waken over de veiligheid en het welzijn van de gasten, bezoekers, standhouders en medewerkers.
        Beveiligingsmedewerkers zullen personen die kennelijk dronken zijn en/of mede bezoekers, standhouders of medewerkers lastig vallen of anderszins de orde tijdens het festival verstoren verzoeken het festival direct te verlaten.

        De naleving van deze huisregels zullen het welzijn van alle mensen tijdens het festival bevorderen, waardoor er nog meer genoten kan worden van alle aanwezige mooie whisky’s en alles wat “The Spirit of Amsterdam” te bieden heeft.

        BELEID TEN AANZIEN VAN PROEFMONSTERS

        Naar aanleiding van de wensen van de standhouders is er een streng beleid ten aanzien van proefmonsters (samples) van kracht op het whisky festival  “The Spirit of Amsterdam”.

        Proefmonsters worden door standhouders slechts ingeschonken in het door de festival organisatie uitgedeelde festival glas en zijn bedoeld om tijdens het festival te worden geconsumeerd. Voor proefmonsters die bij de masterclasses uitgeschonken worden geldt hetzelfde beleid. Het is in strijd met de festival huisregels om standhouders proefmonsters in sample flesjes te laten schenken of om de inhoud van een ingeschonken festival glas over te schenken in sample flesjes om ze daarna mee te nemen van het festival of de masterclass.

        We vragen alle festival bezoekers nadrukkelijk kennis te nemen van de volgende belangrijke regels van het beleid ten aanzien van proefmonsters:

        Neem geen lege sample flesjes mee naar het festival of de masterclass en schenk de door de standhouders beschikbaar gestelde proefmonsters niet over in andere houders dan het officiële festival glas. Dit glas is te herkennen aan het ingegraveerde logo van “The Spirit of Amsterdam”. Bezoekers die sample flesjes meenemen naar het festival wordt verzocht deze flesjes in de afvalcontainer of bij de garderobe achter te laten voordat zij het festival zullen mogen betreden. Dit zal door de beveiliging regelmatig gecontroleerd worden.

        Tijdens het evenement aangetroffen sample flesjes of potjes die het doel hebben whisky te vervoeren zullen door de festival organisatie of de beveiligingsmedewerkers in beslag genomen worden.

        Bezoekers waarbij tijdens het festival deze sample flesjes of potjes aangetroffen worden (ongeacht of deze flesjes vol of leeg zijn) worden door de beveiligingsmensen verzocht het festival direct te verlaten.

        Vraag standhouders of sprekers van een masterclass niet om proefmonsters met de bedoeling deze buiten het festival of de masterclass ruimte te brengen om ze elders te consumeren. Standhouders en sprekers van masterclasses zullen alle gevallen waarin hen dit gevraagd is melden aan de organisatie, waarna organisatie of de beveiligingsmedewerkers de betroffen persoon die deze regel negeert zullen verzoeken het festival te verlaten.

        Restitutie van entreekaarten of hernieuwde toegang tot het festival zal niet worden verleend aan personen die de toegang tot het festival op basis van niet naleving van de huisregels is ontzegd.

        Huisregels whisky festival
    </p>
</body>
</html>