@using SchoolTemplate.Database;
@{
  ViewData["Title"] = "Home Page";

}

    <div class="footer"></div>

    <div class="festivals">
        <h1>Geplande festivals</h1>
        
            @foreach (Festival festival in Model)
            {
                <a class="festival" href="/festivals/@festival.Id">
                    <h5 class="festival-titel">@festival.Naam</h5>
                    <h6 class="festival-titel">@festival.Plaats</h6>




                    <img src="@festival.ImgLogo" />

                </a>
            }
        
    </div>