@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";

}

<head>Home  Transport   Contact  Huisregels en FAQ</head>

<div class="text-center">
  <h1 class="display-4">De Logtenberg</h1>
    <h3>"Een prachtige locatie voor een prachtig feestje"</h3>
</div>

<h2>Geplande festivals</h2>

<h4>Sorteren op:</h4>
<ul>
    <li>Datum oplopend</li>
    <li>Datum aflopend</li>
    <li>Alfabetisch a-z</li>
    <li>Alfabetisch z-a</li>
</ul>