@using SchoolTemplate.Database;
@{
  ViewData["Title"] = "Home Page";

}



    <div class="festivals">
        <h2>Geplande festivals</h2>
        @foreach (Festival festival in Model)
        {
            <a class="festival" href="/festivals/@festival.Id">
                <h5 class="festival-titel">@festival.Naam</h5>
                <h6 class="festival-titel">@festival.Plaats</h6>
                <ul>
                    <li>@festival.Prijs</li>
                    
                </ul>

               

                <img src="@festival.ImgLogo" />

            </a>
        }
    </div>